## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
#I do not use Watson, I'm using my own desktop for this assignment
concrete_data = pd.read_csv('C://Users/mpras/Desktop/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [10]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [13]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [16]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 172834.6250
Epoch 2/50
23/23 [==============================] - 0s 478us/step - loss: 65757.1172
Epoch 3/50
23/23 [==============================] - 0s 478us/step - loss: 18746.9062
Epoch 4/50
23/23 [==============================] - 0s 478us/step - loss: 4492.5591
Epoch 5/50
23/23 [==============================] - 0s 435us/step - loss: 1566.0222
Epoch 6/50
23/23 [==============================] - 0s 522us/step - loss: 1235.1281
Epoch 7/50
23/23 [==============================] - 0s 478us/step - loss: 1182.1835
Epoch 8/50
23/23 [==============================] - 0s 478us/step - loss: 1140.9553
Epoch 9/50
23/23 [==============================] - 0s 478us/step - loss: 1098.5066
Epoch 10/50
23/23 [==============================] - 0s 478us/step - loss: 1054.6201
Epoch 11/50
23/23 [==============================] - 0s 435us/step - loss: 1011.8669
Epoch 12/50
23/23 [==============================] - 0s 478us/step - loss: 969.0284
Epoch 13/50
23/23 [==============================] - 0s 435us/step - loss: 926.0406
Epoch 14/50
23/23 [==============================] - 0s 435us/step - loss: 885.4101
Epoch 15/50
23/23 [==============================] - 0s 435us/step - loss: 845.1793
Epoch 16/50
23/23 [==============================] - 0s 435us/step - loss: 806.4606
Epoch 17/50
23/23 [==============================] - 0s 435us/step - loss: 764.2019
Epoch 18/50
23/23 [==============================] - 0s 435us/step - loss: 727.7061
Epoch 19/50
23/23 [==============================] - 0s 435us/step - loss: 690.3250
Epoch 20/50
23/23 [==============================] - 0s 435us/step - loss: 655.1290
Epoch 21/50
23/23 [==============================] - 0s 391us/step - loss: 621.3564
Epoch 22/50
23/23 [==============================] - 0s 435us/step - loss: 588.3830
Epoch 23/50
23/23 [==============================] - 0s 435us/step - loss: 557.9547
Epoch 24/50
23/23 [==============================] - 0s 435us/step - loss: 529.1862
Epoch 25/50
23/23 [==============================] - 0s 435us/step - loss: 502.1945
Epoch 26/50
23/23 [==============================] - 0s 435us/step - loss: 475.0229
Epoch 27/50
23/23 [==============================] - 0s 435us/step - loss: 450.3240
Epoch 28/50
23/23 [==============================] - 0s 435us/step - loss: 426.0596
Epoch 29/50
23/23 [==============================] - 0s 470us/step - loss: 404.0572
Epoch 30/50
23/23 [==============================] - 0s 478us/step - loss: 384.0226
Epoch 31/50
23/23 [==============================] - 0s 435us/step - loss: 363.1068
Epoch 32/50
23/23 [==============================] - 0s 434us/step - loss: 345.2366
Epoch 33/50
23/23 [==============================] - 0s 435us/step - loss: 327.9732
Epoch 34/50
23/23 [==============================] - 0s 435us/step - loss: 312.5603
Epoch 35/50
23/23 [==============================] - 0s 435us/step - loss: 298.0784
Epoch 36/50
23/23 [==============================] - 0s 478us/step - loss: 282.6715
Epoch 37/50
23/23 [==============================] - 0s 435us/step - loss: 268.7166
Epoch 38/50
23/23 [==============================] - 0s 435us/step - loss: 256.2711
Epoch 39/50
23/23 [==============================] - 0s 435us/step - loss: 245.1399
Epoch 40/50
23/23 [==============================] - 0s 391us/step - loss: 234.5886
Epoch 41/50
23/23 [==============================] - 0s 435us/step - loss: 224.4685
Epoch 42/50
23/23 [==============================] - 0s 435us/step - loss: 216.2156
Epoch 43/50
23/23 [==============================] - 0s 478us/step - loss: 207.3845
Epoch 44/50
23/23 [==============================] - 0s 435us/step - loss: 199.7600
Epoch 45/50
23/23 [==============================] - 0s 391us/step - loss: 192.7239
Epoch 46/50
23/23 [==============================] - 0s 435us/step - loss: 185.8383
Epoch 47/50
23/23 [==============================] - 0s 478us/step - loss: 179.9638
Epoch 48/50
23/23 [==============================] - 0s 435us/step - loss: 174.0439
Epoch 49/50
23/23 [==============================] - 0s 435us/step - loss: 168.9234
Epoch 50/50
23/23 [==============================] - 0s 391us/step - loss: 164.4348

Next we need to evaluate the model on the test data.

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 600us/step - loss: 169.4508

169.45082092285156

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

169.450809033467 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 98.94713592529297
MSE 2: 125.98331451416016
MSE 3: 109.47637176513672
MSE 4: 124.52945709228516
MSE 5: 120.7445297241211
MSE 6: 113.68255615234375
MSE 7: 163.93490600585938
MSE 8: 134.17356872558594
MSE 9: 120.41722106933594
MSE 10: 111.90196228027344
MSE 11: 103.53495025634766
MSE 12: 106.46409606933594
MSE 13: 116.35367584228516
MSE 14: 119.42149353027344
MSE 15: 117.01445007324219
MSE 16: 106.13172912597656
MSE 17: 114.13602447509766
MSE 18: 96.80596923828125
MSE 19: 97.91915893554688
MSE 20: 115.66529846191406
MSE 21: 101.66739654541016
MSE 22: 103.89781951904297
MSE 23: 107.54023742675781
MSE 24: 103.65814971923828
MSE 25: 108.15956115722656
MSE 26: 100.16244506835938
MSE 27: 132.1531219482422
MSE 28: 111.71053314208984
MSE 29: 109.47508239746094
MSE 30: 113.63871765136719
MSE 31: 132.06866455078125
MSE 32: 114.11868286132812
MSE 33: 114.57835388183594
MSE 34: 113.34190368652344
MSE 35: 120.45279693603516
MSE 36: 125.62559509277344
MSE 37: 119.76932525634766
MSE 38: 116.59613800048828
MSE 39: 160.83937072753906
MSE 40: 120.0976791381836
MSE 41: 126.76258850097656
MSE 42: 111.28289031982422
MSE 43: 110.37682342529297
MSE 44: 106.65092468261719
MSE 45: 115.43297576904297
MSE 46: 105.6960220336914
MSE 47: 93.70809173583984
MSE 48: 61.90937805175781
MSE 49: 52.870765686035156
MSE 50: 57.625083923339844


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 111.78209996924062
Standard Deviation: 19.070380295562007